.nav {
  background-color: #6a0dad;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo a {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.5rem;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px; /* espaço entre o logo e o h1 */
}

.logo h1 {
  margin: 0;
  white-space: nowrap; /* impede quebra de linha */
  font-size: 1.5rem;
}

.links a {
  margin: 0 1rem;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.2s;
}

.links a:hover,
.links a.active {
  color: var(--primary-color);
  font-weight: bold;
}
