.contact-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 20px;
  position: relative;
  z-index: 1;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.contact-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 85%;
  background-size: cover;
  background-position: center bottom;
  opacity: 0.25;
  z-index: -1;
  border-radius: 20px;
}

.contact-icons img {
  cursor: pointer;
  transition: transform 0.2s;
}

.contact-icons img:hover {
  transform: scale(1.2);
}
